body {
  background-color: #A9A9A9;
  color: black;
  font-family: 'Roboto', sans-serif;
}

body.dark-mode {
  background-color: #333;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  padding: 10px;
}

.bidoof-image {
  width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-selector {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pokemon-selector.dark-mode {
  background: #444;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pokemon-number {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-box {

}

.pokemon-sprite {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.stats-table {
  margin-left: 10px;
  padding: 10px;
}

.input-container {
  text-align: center;
}

.details-container {
  display: flex;
  flex-direction: column;
}

.abilities-container {
  padding: 20px;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  background: #ccc;
  border-radius: 34px;
  padding: 4px;
}

.dark-label,
.light-label {
  flex: 1;
  text-align: center;
  color: #333;
}

.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #333;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}