body {
  background-color: #A9A9A9;
}

.header {
  text-align: center;
  padding: 10px;
}

.bidoof-image {
  width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-selector {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px); /* Two Pokémon per line with some margin */
  box-sizing: border-box; /* Ensure padding doesn't increase width */
  display: flex; /* Flex container to align items vertically */
  flex-direction: column; /* Stack elements vertically */
}

.pokemon-number {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-box {

}

.pokemon-sprite {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.stats-table {
  margin-left: 10px;
  padding: 10px;
}

.input-container {
  text-align: center;
}


/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*  sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  background-color: #add8e6;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*  monospace;*/
/*}*/

/*.input-container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*  text-align: center;*/
/*  justify-content: center;*/
/*  border: 1px solid black;*/
/*  padding: 10px;*/
/*}*/

/*.border {*/
/*  border: 1px solid black;*/
/*  padding: 10px;*/
/*  border-radius: 5px;*/
/*  margin: 5px;*/
/*}*/
/*.center {*/
/*  text-align: center;*/
/*}*/

/*.bst-table-container {*/
/*  border: 1px solid black;*/
/*  border-radius: 5px;*/
/*  padding: 10px;*/
/*  margin: 5px;*/
/*}*/